@page
@model PsychologyHealthCare.RazorWebApp.Pages.AppointmentTrackings.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentTracking.Id" />

            <div class="form-group">
                <label asp-for="AppointmentTracking.Name" class="control-label"></label>
                <input asp-for="AppointmentTracking.Name" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.StartTime" class="control-label"></label>
                <input asp-for="AppointmentTracking.StartTime" class="form-control" />
                <span asp-validation-for="AppointmentTracking.StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.EndTime" class="control-label"></label>
                <input asp-for="AppointmentTracking.EndTime" class="form-control" />
                <span asp-validation-for="AppointmentTracking.EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.CreatedDate" class="control-label"></label>
                <input asp-for="AppointmentTracking.CreatedDate" type="datetime-local" class="form-control" disabled="disabled" />
                <span asp-validation-for="AppointmentTracking.CreatedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.UpdatedDate" class="control-label"></label>
                <input asp-for="AppointmentTracking.UpdatedDate" type="datetime-local" class="form-control" disabled="disabled" />
                <span asp-validation-for="AppointmentTracking.UpdatedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Rating" class="control-label"></label>
                <input asp-for="AppointmentTracking.Rating" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Holder" class="control-label"></label>
                <input asp-for="AppointmentTracking.Holder" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Holder" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Address" class="control-label"></label>
                <input asp-for="AppointmentTracking.Address" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Type" class="control-label"></label>
                <input asp-for="AppointmentTracking.Type" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.SystemStatus" class="control-label"></label>
                <input asp-for="AppointmentTracking.SystemStatus" class="form-control" />
                <span asp-validation-for="AppointmentTracking.SystemStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.ProgramTrackingId" class="control-label"></label>
                <select asp-for="AppointmentTracking.ProgramTrackingId" class="form-control" asp-items="ViewBag.ProgramId"></select>
                <span asp-validation-for="AppointmentTracking.ProgramTrackingId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" id="saveButton" class="btn btn-danger" value="Save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model?.AppointmentTracking.Id" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
