@page
@model PsychologyHealthCare.RazorWebApp.Pages.AppointmentTrackings.CreateModel

@{
    // ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment Tracking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentTracking.Id" class="control-label"></label>
                <input asp-for="AppointmentTracking.Id" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Name" class="control-label"></label>
                <input asp-for="AppointmentTracking.Name" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.StartTime" class="control-label"></label>
                <input asp-for="AppointmentTracking.StartTime" type="number" class="form-control" />
                <span asp-validation-for="AppointmentTracking.StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.EndTime" class="control-label"></label>
                <input asp-for="AppointmentTracking.EndTime" type="number" class="form-control" />
                <span asp-validation-for="AppointmentTracking.EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.CreatedDate" class="control-label"></label>
                <input asp-for="AppointmentTracking.CreatedDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="AppointmentTracking.CreatedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.UpdatedDate" class="control-label"></label>
                <input asp-for="AppointmentTracking.UpdatedDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="AppointmentTracking.UpdatedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Rating" class="control-label"></label>
                <input asp-for="AppointmentTracking.Rating" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Holder" class="control-label"></label>
                <input asp-for="AppointmentTracking.Holder" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Holder" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Address" class="control-label"></label>
                <input asp-for="AppointmentTracking.Address" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Type" class="control-label"></label>
                <input asp-for="AppointmentTracking.Type" class="form-control" />
                <span asp-validation-for="AppointmentTracking.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.SystemStatus" class="control-label"></label>
                <input asp-for="AppointmentTracking.SystemStatus" class="form-control" />
                <span asp-validation-for="AppointmentTracking.SystemStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.ProgramTrackingId" class="control-label"></label>
                <select asp-for="AppointmentTracking.ProgramTrackingId" class="form-control" asp-items="ViewBag.ProgramId"></select>
                <span asp-validation-for="AppointmentTracking.ProgramTrackingId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/health.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}