@page
@model PsychologyHealthCare.RazorWebApp.Pages.AppointmentTrackings.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentTracking.Id" />

            <div class="form-group">
                <label asp-for="AppointmentTracking.Name" class="control-label"></label>
                <input asp-for="AppointmentTracking.Name" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.StartTime" class="control-label"></label>
                <input asp-for="AppointmentTracking.StartTime" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.EndTime" class="control-label"></label>
                <input asp-for="AppointmentTracking.EndTime" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.CreatedDate" class="control-label"></label>
                <input asp-for="AppointmentTracking.CreatedDate" type="datetime-local" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.UpdatedDate" class="control-label"></label>
                <input asp-for="AppointmentTracking.UpdatedDate" type="datetime-local" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Rating" class="control-label"></label>
                <input asp-for="AppointmentTracking.Rating" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Holder" class="control-label"></label>
                <input asp-for="AppointmentTracking.Holder" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Address" class="control-label"></label>
                <input asp-for="AppointmentTracking.Address" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.Type" class="control-label"></label>
                <input asp-for="AppointmentTracking.Type" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="AppointmentTracking.SystemStatus" class="control-label"></label>
                <input asp-for="AppointmentTracking.SystemStatus" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@ViewData["ProgramName"]" readonly />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model?.AppointmentTracking.Id" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
